<span (click)="isDrawerVisible.set(true)">
  @switch (shift()) {
    @case (Shift.dinner) {
      <span class="text-center py-1"
        ><i class="pi pi-moon text-indigo-700" style="font-size: 0.9rem"></i
      ></span>
    }
    @default {
      <span><i class="pi pi-sun text-amber-700"></i></span>
    }
  }
</span>

<p-drawer
  [visible]="isDrawerVisible()"
  (visibleChange)="isDrawerVisible.set($event)"
  styleClass="rounded-t-2xl"
  showCloseIcon="false"
  position="bottom"
>
  <p-header>
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-row items-center">
        @switch (shift()) {
          @case (Shift.dinner) {
            <p-avatar
              icon="pi pi-moon text-indigo-700"
              class="mr-2"
              size="normal"
              shape="circle"
              styleClass="bg-indigo-100"
            />
          }
          @default {
            <p-avatar
              icon="pi pi-sun text-amber-700"
              class="mr-2"
              size="normal"
              shape="circle"
              styleClass="bg-amber-100"
            />
          }
        }

        <div class="flex flex-col">
          <span class="text-lg font-semibold">{{ 'shift.' + shift() | translate }}</span>
          <span class="text-sm text-muted-foreground">{{ date() | date: 'fullDate' }}</span>
        </div>
      </div>

      <p-button
        icon="pi pi-times text-xs"
        [rounded]="true"
        styleClass="bg-grey-100 border-0"
        severity="secondary"
        (onClick)="isDrawerVisible.set(false)"
      />
    </div>
  </p-header>
  <div class="flex">
    <p-inputnumber inputId="tips" mode="decimal" ngModel="tips" />
  </div>
</p-drawer>
