<div
  class="flex flex-col items-center bg-white border rounded-2xl h-full"
  [class.border-amber-600]="isToday(day())"
  [class.border-gray-200]="!isToday(day())"
>
  <div
    class="w-full text-center rounded-t-2xl"
    [class.bg-amber-600]="isToday(day())"
    [class.font-bold]="isToday(day())"
    [class.text-white]="isToday(day())"
    [class.text-muted-foreground]="!isToday(day())"
  >
    <p class="w-full border-b text-center py-1">{{ day()?.getDate() }}</p>
  </div>
  <div class="flex flex-col justify-between w-full py-2 items-center rounded-b-2xl">
    @for (shift of shifts; track shift; let last = $last) {
      <service [class.border-b]="!last" [shift]="shift" [date]="day()" />
    }
  </div>
</div>
