<div class="flex flex-col">
  <!-- Month selector -->
  <div class="bg-white flex items-center justify-between pt-6 px-4">
    <p-button
      icon="pi pi-chevron-left text-xs"
      [rounded]="true"
      styleClass="bg-grey-100 border-0"
      severity="secondary"
      (onClick)="state.previous()"
    />

    <span class="text-lg font-semibold" (click)="state.reset()">{{
      state.period() | date: 'MMMM y'
    }}</span>

    <p-button
      icon="pi pi-chevron-right text-xs opacity-100"
      styleClass="bg-grey-100 border-0"
      [rounded]="true"
      severity="secondary"
      (onClick)="state.next()"
    />
  </div>

  <!-- Calendar days -->
  <p-tabs lazy value="services">
    <p-tablist class="w-full flex">
      <p-tab class="flex-1 text-center" value="services">Services</p-tab>
      <p-tab class="flex-1 text-center" value="summary">Récap'</p-tab>
    </p-tablist>

    <p-tabpanels class="bg-background">
      <p-tabpanel value="services">
        <div class="grid grid-cols-7 gap-1">
          @for (day of weekDays; track day) {
            <p class="text-center font-light text-xs py-2 text-muted-foreground">
              {{ day }}
            </p>
          }

          @for (day of state.days(); track day.getTime(); let first = $first) {
            @if (
              restaurantsServicesFacade.services.isLoading() &&
              !restaurantsServicesFacade.services.hasValue()
            ) {
              <p-skeleton
                height="6.4rem"
                class="rounded-2xl"
                [style.grid-column-start]="first ? getGridColumnStart(day) : null"
              />
            } @else {
              <calendar-day
                [style.grid-column-start]="first ? getGridColumnStart(day) : null"
                [day]="day"
              />
            }
          }
        </div>
      </p-tabpanel>
      <p-tabpanel value="summary"><services-summary></services-summary></p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
